* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Figtree;
    color: var(--clr-text);
    font-size: 16px;
}

body {
    background-color: var(--clr-bg);
}

h2 {
    font-family: Figtree;
    font-size: 1.25rem;
    font-weight: 600;
}

h3 {
    font-family: Figtree;
    font-size: 0.8rem;
    font-weight: 500;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: var(--clr-text);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.8;
}

p {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

button {
    width: fit-content;
    border-radius: 50%;
    border: 1px solid transparent;
    background: var(--clr-btn);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.15s ease;
    padding: var(--x-small-padding);

    &:hover:not(:disabled):not(.menu-btn, .wishlist-btn, .login-btn, .signup-btn) {
        background: #e4e4e4;
        border-color: transparent;
        transform: scale(1.1);
    }

    &:disabled {
        opacity: 0.3;
        cursor: default;
    }
}