.stay-index {
    padding-top: 190px;
}

.stay-index--search {
    padding-top: 90px;
}

.stay-list--filtered .stay-list-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.stay-list--filtered .stay-preview-card .stay-image {
    height: 280px;
    object-fit: cover;
}