/* Airbnb */
@font-face {
    font-family: AirbnbCereal_W_Bd;
    /* set name */
    src: url(/src/assets/fonts/AirbnbCereal_W_Bd.otf);
    /* url of the font */
}

@font-face {
    font-family: AirbnbCereal_W_Bk;
    /* set name */
    src: url(/src/assets/fonts/AirbnbCereal_W_Bk.otf);
    /* url of the font */
}

@font-face {
    font-family: AirbnbCereal_W_Blk;
    /* set name */
    src: url(/src/assets/fonts/AirbnbCereal_W_Blk.otf);
    /* url of the font */
}

@font-face {
    font-family: AirbnbCereal_W_Lt;
    /* set name */
    src: url(/src/assets/fonts/AirbnbCereal_W_Lt.otf);
    /* url of the font */
}

@font-face {
    font-family: AirbnbCereal_W_Md;
    /* set name */
    src: url(/src/assets/fonts/AirbnbCereal_W_Md.otf);
    /* url of the font */
}

@font-face {
    font-family: AirbnbCereal_W_XBd;
    /* set name */
    src: url(/src/assets/fonts/AirbnbCereal_W_XBd.otf);
    /* url of the font */
}