/* 

.app-header {
  background-color: #ffffff;
  border-bottom: 1px solid #ebebeb;
  padding: 0 2em;
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-container {
  width: 888px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #ff385c;
  font-size: 1.8em;
  font-weight: bold;
  font-style: italic;
} */
 .app-header {
  background-color: #ffffff;
  border-bottom: 1px solid #ebebeb;
  padding: 0 2em;
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-container {
  width: 888px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #ff385c;
  font-size: 1.8em;
  font-weight: bold;
  font-style: italic;
}